.bg-body {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-body-bg-rgb),var(--bs-bg-opacity))!important;
}

.bg-dark {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

